$bigDesktop: 2350px;
$desktop: 1300px;
$tablets: 813px;
$bigPhone: 595px;
$normalPhone: 350px;

$bodyColor : #F4F4F8;
$mainColor : #E6E6EA;
$primaryColor : #FE4A49;
$primaryHoverColor : hwb(0 29% 10%);
$primaryActiveColor : hwb(0 29% 20%);
$secondaryColor: hwb(240 90% 20%);
$secondaryHoverColor: hwb(240 90% 50%);
$buttonColor: #009FB7;
$buttonHoverColor: hwb(188 0% 40%);
$shadowColor: hwb(240 90% 100%);
$textColor : black;