* {
  font-family: "Roboto", georgia, garamond, serif;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #F4F4F8;
  z-index: -2;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  font-size: 1.3rem;
}
@media (min-width: 350px) {
  h1, h2 {
    font-size: 1.7rem;
  }
}
@media (min-width: 813px) {
  h1, h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1300px) {
  h1, h2 {
    font-size: 2.8rem;
  }
}
@media (min-width: 2350px) {
  h1, h2 {
    font-size: 3.5rem;
  }
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

button {
  background-color: #009FB7;
  border: none;
  border-radius: 1%;
  box-shadow: 5px 5px 5px hwb(240 90% 100%);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background-color: hwb(188 0% 40%);
}

address {
  margin: 0;
}
address p {
  margin: 0;
  font-size: 1.1rem;
}
@media (min-width: 1300px) {
  address p {
    font-size: 1.5rem;
  }
}

main {
  background-color: #E6E6EA;
  box-shadow: 1px 1px 5px hwb(240 90% 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 813px) {
  main {
    width: 70%;
    min-width: 800px;
    flex-grow: 1;
  }
}

header {
  z-index: 1;
  width: 100%;
  box-shadow: 0px 2px hwb(240 90% 100%);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FE4A49;
}
@media (min-width: 813px) {
  header {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}
header .logo-header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .logo-header {
  height: 250px;
  width: 250px;
}
@media (min-width: 813px) {
  header .logo-header {
    height: 150px;
    width: 150px;
  }
}
header .nav-list-div {
  display: flex;
  justify-content: center;
}
header .nav-list {
  font-size: 1.8rem;
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  margin: 0px;
}
@media (min-width: 813px) {
  header .nav-list {
    display: flex;
    justify-content: space-between;
  }
}
header .nav-link {
  padding: 10px;
  display: block;
  color: black;
  text-decoration: none;
}
header .nav-link:hover {
  background-color: hwb(0 29% 10%);
}
header .active {
  background-color: hwb(0 29% 20%);
  border-radius: 1%;
}

.paragraph-div {
  margin: 16px;
  text-align: center;
}
@media (min-width: 813px) {
  .paragraph-div {
    width: 800px;
  }
}
@media (min-width: 2350px) {
  .paragraph-div {
    width: 1200px;
  }
}

.CTA-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  background-color: hwb(240 90% 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.CTA-div h2 {
  color: black;
  font-size: 2rem;
}
@media (min-width: 813px) {
  .CTA-div h2 {
    font-size: 3rem;
  }
}
.CTA-div:hover {
  background-color: hwb(240 90% 50%);
}

.CTA-link {
  display: block;
  text-decoration: none;
}

.CTA-picture {
  width: 250px;
}
@media (min-width: 595px) {
  .CTA-picture {
    width: 500px;
  }
}
@media (min-width: 813px) {
  .CTA-picture {
    width: 600px;
  }
}
@media (min-width: 1300px) {
  .CTA-picture {
    width: 800px;
  }
}

.pair {
  display: flex;
  flex-direction: column;
}
@media (min-width: 595px) {
  .pair {
    flex-direction: row;
  }
}
@media (min-width: 1300px) {
  .pair {
    flex-direction: column;
  }
}
@media (min-width: 2350px) {
  .pair {
    flex-direction: row;
  }
}

.profile-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  background-color: hwb(240 90% 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.profile-div h3 {
  color: black;
  font-size: 1.2rem;
  width: 250px;
  margin-bottom: 5px;
}
@media (min-width: 1300px) {
  .profile-div h3 {
    font-size: 2rem;
    width: 400px;
  }
}
.profile-div h4 {
  color: black;
  margin: 0;
  font-size: 1rem;
  width: 250px;
  margin-bottom: 5px;
}
@media (min-width: 1300px) {
  .profile-div h4 {
    font-size: 1.1rem;
    width: 400px;
  }
}
@media (min-width: 350px) {
  .profile-div {
    margin: 16px 24px 64px 24px;
  }
}
@media (min-width: 1300px) {
  .profile-div {
    flex-direction: row;
  }
}

.profile-picture {
  width: 250px;
}
@media (min-width: 1300px) {
  .profile-picture {
    width: 350px;
  }
}

.profile-paragraph-div {
  margin: 16px 0;
  text-align: center;
  font-size: 1rem;
}
.profile-paragraph-div p {
  padding: 0 10px 0 10px;
  width: 230px;
}
@media (min-width: 595px) {
  .profile-paragraph-div p {
    height: 216px;
  }
}
@media (min-width: 1300px) {
  .profile-paragraph-div p {
    height: 144px;
  }
}
@media (min-width: 1300px) {
  .profile-paragraph-div p {
    padding: 0;
    margin: 0 40px 0 40px;
    width: 350px;
  }
}
@media (min-width: 595px) {
  .profile-paragraph-div address p {
    height: auto;
  }
}
@media (min-width: 1300px) {
  .profile-paragraph-div address p {
    height: auto;
  }
}

.features-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 350px) {
  .features-div {
    margin: 16px 24px 64px 24px;
  }
}
@media (min-width: 813px) {
  .features-div {
    flex-direction: row;
  }
}

.features-picture {
  width: 250px;
}
@media (min-width: 595px) {
  .features-picture {
    width: 350px;
  }
}
@media (min-width: 813px) {
  .features-picture {
    width: 250px;
  }
}
@media (min-width: 2350px) {
  .features-picture {
    width: 350px;
  }
}

.product-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  background-color: hwb(240 90% 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.product-div h2 {
  color: black;
  font-size: 1.2rem;
  width: 250px;
  margin-bottom: 5px;
}
@media (min-width: 1300px) {
  .product-div h2 {
    font-size: 2rem;
    width: 400px;
  }
}
.product-div h3 {
  color: black;
  margin: 0;
  font-size: 1rem;
  width: 250px;
  margin-bottom: 5px;
}
@media (min-width: 1300px) {
  .product-div h3 {
    font-size: 1.1rem;
    width: 400px;
  }
}
@media (min-width: 350px) {
  .product-div {
    margin: 16px 24px 64px 24px;
  }
}
@media (min-width: 1300px) {
  .product-div {
    flex-direction: row;
  }
}

.product-picture {
  width: 250px;
}
@media (min-width: 1300px) {
  .product-picture {
    width: 350px;
  }
}

.product-paragraph-div {
  margin: 16px 0;
  text-align: center;
  font-size: 1rem;
}
.product-paragraph-div p {
  padding: 0 10px 0 10px;
  width: 230px;
}
@media (min-width: 595px) {
  .product-paragraph-div p {
    height: 216px;
  }
}
@media (min-width: 1300px) {
  .product-paragraph-div p {
    height: 144px;
  }
}
@media (min-width: 1300px) {
  .product-paragraph-div p {
    padding: 0;
    margin: 0 40px 0 40px;
    width: 350px;
  }
}

.review-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-layout {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .review-layout {
    flex-direction: row;
  }
}

.review-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  background-color: hwb(240 90% 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.review-div h2 {
  color: black;
  font-size: 1rem;
  width: 250px;
  margin-bottom: 5px;
}
.review-div h3 {
  color: black;
  margin: 0;
  font-size: 1rem;
  width: 250px;
  margin-bottom: 5px;
}
@media (min-width: 350px) {
  .review-div {
    margin: 16px 24px 64px 24px;
  }
}

.review-paragraph-div {
  margin: 16px 0;
  text-align: center;
  font-size: 1rem;
}
.review-paragraph-div p {
  padding: 0 10px 0 10px;
  width: 230px;
}
@media (min-width: 595px) {
  .review-paragraph-div p {
    width: 400px;
  }
}
@media (min-width: 1300px) {
  .review-paragraph-div p {
    padding: 0;
    margin: 0 40px 0 40px;
    width: 230px;
  }
}

.contact-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  background-color: hwb(240 90% 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.contact-div h2 {
  color: black;
  font-size: 1.2rem;
  width: 250px;
  margin-bottom: 5px;
}
@media (min-width: 1300px) {
  .contact-div h2 {
    font-size: 2rem;
    width: 400px;
  }
}
@media (min-width: 350px) {
  .contact-div {
    margin: 16px 24px 64px 24px;
  }
}
.contact-div form {
  width: 250px;
}
@media (min-width: 595px) {
  .contact-div form {
    width: 550px;
  }
}
.contact-div textarea {
  width: 200px;
}
@media (min-width: 595px) {
  .contact-div textarea {
    width: 500px;
  }
}
.contact-div input, .contact-div select, .contact-div textarea {
  background-color: #F4F4F8;
  border-radius: 1%;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
.contact-div input, .contact-div select {
  text-align: center;
  height: 25px;
}
@media (min-width: 595px) {
  .contact-div input, .contact-div select {
    font-size: 1.2rem;
  }
}

.office-div {
  margin: 16px 0 64px 0;
  box-shadow: 10px 10px 5px hwb(240 90% 100%);
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 350px) {
  .office-div {
    margin: 16px 24px 64px 24px;
  }
}
@media (min-width: 813px) {
  .office-div {
    flex-direction: row;
  }
}

.office-picture {
  width: 250px;
}
@media (min-width: 595px) {
  .office-picture {
    width: 500px;
  }
}
@media (min-width: 813px) {
  .office-picture {
    width: 600px;
  }
}

.contact-paragraph-div {
  margin: 16px 0;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 1300px) {
  .row-reversed {
    flex-direction: row-reverse;
  }
}

footer {
  z-index: 1;
  box-shadow: 0px -2px hwb(240 90% 100%);
  font-weight: bold;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FE4A49;
}
@media (min-width: 813px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
}
footer .footer-logo-copy-div {
  padding-left: 10px;
}
@media (min-width: 813px) {
  footer .footer-logo-copy-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-right: 300px;
  }
}
footer .logo-footer {
  height: 100px;
  width: 100px;
}
footer .footer-nav-list-div {
  display: flex;
  justify-content: center;
}
footer .footer-nav-list {
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 0px;
  padding-right: 15px;
}
footer .footer-nav-list .nav-link {
  display: block;
  color: black;
  text-decoration: none;
}
footer .footer-nav-list .nav-link:hover {
  background-color: hwb(0 29% 10%);
}
footer .footer-nav-list .nav-link:active {
  background-color: hwb(0 29% 20%);
}
@media (min-width: 813px) {
  footer .footer-nav-list {
    text-align: right;
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */