$bigDesktop: 2350px;
$desktop: 1300px;
$tablets: 813px;
$bigPhone: 595px;
$normalPhone: 350px;

$bodyColor : #F4F4F8;
$mainColor : #E6E6EA;
$primaryColor : #FE4A49;
$primaryHoverColor : hwb(0 29% 10%);
$primaryActiveColor : hwb(0 29% 20%);
$secondaryColor: hwb(240 90% 20%);
$secondaryHoverColor: hwb(240 90% 50%);
$buttonColor: #009FB7;
$buttonHoverColor: hwb(188 0% 40%);
$shadowColor: hwb(240 90% 100%);
$textColor : black;

* {
    font-family: 'Roboto',georgia,garamond,serif;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: $bodyColor;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    min-height: 100vh
}

header {
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px $shadowColor;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primaryColor;
    @media (min-width: $tablets) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .logo-header-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo-header {
        height: 250px;
        width: 250px;
        @media (min-width: $tablets) {
            height: 150px;
            width: 150px;
        }
    }

    .nav-list-div {
        display: flex;
        justify-content: center;
    }
    
    .nav-list {
        font-size: 1.8rem;
        list-style-type: none;
        padding-left: 0px;
        text-align: center;
        margin: 0px;
        @media (min-width: $tablets) {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .nav-link {
        padding: 10px;
        display: block;
        color: $textColor;
        text-decoration: none;
        &:hover {
            background-color: $primaryHoverColor;
        }
    }
    
    .active {
        background-color: $primaryActiveColor;
        border-radius: 1%;
    }
}

main {
    h1, h2 {
        font-size: 1.3rem;
        @media (min-width: $normalPhone) {
            font-size: 1.7rem;
        }
        @media (min-width: $tablets) {
            font-size: 2rem;
        }
        @media (min-width: $desktop) {
            font-size: 2.8rem;
        }
        @media (min-width: $bigDesktop) {
            font-size: 3.5rem;
        }
        
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
    }

    address {
        margin: 0;
    }

    address p {
        margin: 0;
        font-size: 1.1rem;
        @media (min-width: $desktop) {
            font-size: 1.5rem;
        }
    }


    background-color: $mainColor;
    box-shadow: 1px 1px 5px $shadowColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $tablets) {
        width: 70%;
        min-width: 800px;
        flex-grow: 1;
    }
    
    .paragraph-div {
        margin: 16px;
        text-align: center;
        @media (min-width: $tablets) {
            width: 800px;
        }
        @media (min-width: $bigDesktop) {
            width: 1200px;
        }
    }
    
    .CTA-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        background-color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $textColor;
        h2 {
            color: $textColor;
            font-size: 2rem;
            @media (min-width: $tablets) {
                font-size: 3rem;
            }
        }
        &:hover {
            background-color: $secondaryHoverColor;
        }
    }

    .CTA-link {
        display: block;
        text-decoration: none;
    }

    .CTA-picture {
        width: 250px;

        @media (min-width: $bigPhone) {
            width: 500px;
        }

        @media (min-width: $tablets) {
            width: 600px;
        }

        @media (min-width: $desktop) {
            width: 800px;
        }

        
    }


    .pair {
        display: flex;
        flex-direction: column;
        @media (min-width: $bigPhone) {
            flex-direction: row;
        }
        @media (min-width: $desktop) {
            flex-direction: column;
        }
        @media (min-width: $bigDesktop) {
            flex-direction: row;
        }

    }
    
    .profile-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        background-color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $textColor;
        h3 {
            color: $textColor;
            font-size: 1.2rem;
            width: 250px;
            margin-bottom: 5px;
            @media (min-width: $desktop) {
                font-size: 2rem;
                width: 400px;
            }
        }
        h4 {
            color: $textColor;
            margin: 0;
            font-size: 1rem;
            width: 250px;
            margin-bottom: 5px;
            @media (min-width: $desktop) {
                font-size: 1.1rem;
                width: 400px;
            }
        }
        &:hover {
            background-color: $secondaryHoverColor;
        }
        @media (min-width: $normalPhone) {
            margin: 16px 24px 64px 24px;
        }
        @media (min-width: $desktop) {
            flex-direction: row;
        }
    }

    
    .profile-picture {
        width: 250px;
        @media (min-width: $desktop) {
            width: 350px;
        }
    }
    
    .profile-paragraph-div {
        margin: 16px 0;
        text-align: center;
        font-size: 1rem;
        
        p {
            padding: 0 10px 0 10px;
            width: 230px;
            @media (min-width: $bigPhone) {
                height: 216px;
            }
            @media (min-width: $desktop) {
                height: 144px;
            }
            @media (min-width: $desktop) {
                padding: 0;
                margin: 0 40px 0 40px;
                width: 350px;
            }
        }
        
        address p {
            @media (min-width: $bigPhone) {
                height: auto;
            }
            @media (min-width: $desktop) {
                height: auto;
            }
        }
    }
    
    .features-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        @media (min-width: $normalPhone) {
            margin: 16px 24px 64px 24px;
        }
        @media (min-width: $tablets) {
            flex-direction: row;
        }
    }
    
    .features-picture {
        width: 250px;
        @media (min-width: $bigPhone) {
            width: 350px;
        }
        @media (min-width: $tablets) {
            width: 250px;
        }
        @media (min-width: $bigDesktop) {
            width: 350px;
        }
    }
    
    .product-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        background-color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $textColor;
        h2 {
            color: $textColor;
            font-size: 1.2rem;
            width: 250px;
            margin-bottom: 5px;
            @media (min-width: $desktop) {
                font-size: 2rem;
                width: 400px;
            }
        }
        h3 {
            color: $textColor;
            margin: 0;
            font-size: 1rem;
            width: 250px;
            margin-bottom: 5px;
            @media (min-width: $desktop) {
                font-size: 1.1rem;
                width: 400px;
            }
        }
        @media (min-width: $normalPhone) {
            margin: 16px 24px 64px 24px;
        }
        @media (min-width: $desktop) {
            flex-direction: row;
        }
    }
    
    .product-picture {
        width: 250px;
        @media (min-width: $desktop) {
            width: 350px;
        }
    }

    .product-paragraph-div {
        margin: 16px 0;
        text-align: center;
        font-size: 1rem;
        
        p {
            padding: 0 10px 0 10px;
            width: 230px;
            @media (min-width: $bigPhone) {
                height: 216px;
            }
            @media (min-width: $desktop) {
                height: 144px;
            }
            @media (min-width: $desktop) {
                padding: 0;
                margin: 0 40px 0 40px;
                width: 350px;
            }
        }
        button {
            background-color: $buttonColor;
            border: none;
            border-radius: 1%;
            box-shadow: 5px 5px 5px $shadowColor;
            color: $textColor;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            &:hover {
                background-color: $buttonHoverColor;
            }
        }
    }

    .review-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .review-layout {
        display: flex;
        flex-direction: column;
        
        @media (min-width: $desktop) {
            flex-direction: row;
        }

    }
    
    .review-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        background-color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $textColor;
        h2 {
            color: $textColor;
            font-size: 1rem;
            width: 250px;
            margin-bottom: 5px;
        }
        h3 {
            color: $textColor;
            margin: 0;
            font-size: 1rem;
            width: 250px;
            margin-bottom: 5px;
        }
        @media (min-width: $normalPhone) {
            margin: 16px 24px 64px 24px;
        }

    }

    .review-paragraph-div {
        margin: 16px 0;
        text-align: center;
        font-size: 1rem;
        
        p {
            padding: 0 10px 0 10px;
            width: 230px;
            @media (min-width: $bigPhone) {
                width: 400px;
            }
            @media (min-width: $desktop) {
                padding: 0;
                margin: 0 40px 0 40px;
                width: 230px;
            }
        }
    }

    .contact-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        background-color: $secondaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $textColor;
        h2 {
            color: $textColor;
            font-size: 1.2rem;
            width: 250px;
            margin-bottom: 5px;
            @media (min-width: $desktop) {
                font-size: 2rem;
                width: 400px;
            }
        }
        @media (min-width: $normalPhone) {
            margin: 16px 24px 64px 24px;
        }
        

        form {
            width: 250px;
            @media (min-width: $bigPhone) {
                width: 550px;
            }
        }
        textarea {
            width: 200px;
            @media (min-width: $bigPhone) {
                width: 500px;
            }
        }

        input, select, textarea {
            background-color: $bodyColor;
            border-radius: 1%;
            border: none;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        input, select {
            text-align: center;
            height: 25px;
            @media (min-width: $bigPhone) {
                font-size: 1.2rem;
            }
        }
    }

    .office-div {
        margin: 16px 0 64px 0;
        box-shadow: 10px 10px 5px $shadowColor;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        @media (min-width: $normalPhone) {
            margin: 16px 24px 64px 24px;
        }
        @media (min-width: $tablets) {
            flex-direction: row;
        }
    }

    .office-picture {
        width: 250px;
        @media (min-width: $bigPhone) {
            width: 500px;
        }
        @media (min-width: $tablets) {
            width: 600px;
        }
    }

    .contact-paragraph-div {
        margin: 16px 0;
        text-align: center;
        font-size: 1rem;
    
        button {
            background-color: $buttonColor;
            border: none;
            border-radius: 1%;
            box-shadow: 5px 5px 5px $shadowColor;
            color: $textColor;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            &:hover {
                background-color: $buttonHoverColor;
            }
        }
    }


    .row-reversed {
        @media (min-width: $desktop) {
            flex-direction: row-reverse;
        }
    }
}

footer {
    z-index: 1;
    box-shadow: 0px -2px $shadowColor;
    font-weight: bold;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primaryColor;
    @media (min-width: $tablets) {
        flex-direction: row;
        justify-content: center;
    }
    
    .footer-logo-copy-div {
        padding-left: 10px;
        @media (min-width: $tablets) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin-right: 300px;
        }
    }
    
    .logo-footer {
        height: 100px;
        width: 100px;
    }
    .footer-nav-list-div {
        display: flex;
        justify-content: center;
    }
    
    .footer-nav-list {
        font-size: 1.2rem;
        list-style-type: none;
        padding-left: 0px;
        padding-right: 15px;
        .nav-link {
            display: block;
            color: $textColor;
            text-decoration: none;
            &:hover {
                background-color: $primaryHoverColor;
            }
            &:active {
                background-color: $primaryActiveColor;
            }
        }
        @media (min-width: $tablets){
            text-align: right;
            font-size: 1rem;
        }
    }
    
}


